@import 'tailwindcss';
@import 'tw-animate-css';

:root {
  --primary: #535aff;
}

@theme inline {
  --color-primary: var(--primary);
  --font-bebas-neue: 'bebas-neue';
}

html,
body,
#root {
  height: 100dvh;
  width: 100dvw;
  font-family: 'dm-sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.hero-min {
  min-height: 70svh;
}

@font-face {
  font-family: 'dm-sans';
  src: url('/fonts/DMSans/DMSans-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'dm-sans';
  src: url('/fonts/DMSans/DMSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'dm-sans';
  src: url('/fonts/DMSans/DMSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'dm-sans';
  src: url('/fonts/DMSans/DMSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'dm-sans';
  src: url('/fonts/DMSans/DMSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'dm-sans';
  src: url('/fonts/DMSans/DMSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'bebas-neue';
  src: url('/fonts/BebasNeue/BebasNeue-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@media (min-width: 768px) {
  .hero-min {
    min-height: 75svh;
  }
}
